.username-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
 .username-input h1 {
     margin: 0;
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
  }
  
 .username-input form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #C0D037;
    padding: 3vw;
    border-radius: 3px
  }
  
 .username-input input {
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    width: 300px;
    outline: none;
  }

 .username-input button {
    padding: 10px 20px;
    color: white;
    background-color: #2F2E2E;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
 .username-input button:hover {
    background-color: #120f0f;
  }
  